@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        overscroll-behavior: none;
        overscroll-behavior-y: none;
    }

    /* Fallback per Safari */
    html {
        overflow-x: hidden;
    }
}
